<div>
  <mat-toolbar color="primary">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span>My App</span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>share</mat-icon>
    </button>
  </mat-toolbar>
  <div style="background-color: rgb(245,245,245);">
    <div style="margin-left:125px">
      <div style="width: 1000px;height: 530px;">
        <as-split class="appplications-page-container"
                  unit="percent"
                  direction="horizontal"
                  [gutterSize]="19">
          <as-split-area  class="applications-page-navigation"
                          [size]="35"
                          [minSize]="35">
              <!-- left Side panel  -->
              <app-navigation></app-navigation>
          </as-split-area>
          <as-split-area  [size]="65"
                          [minSize]="60"
                          class="applications-page--content">
            <!-- Right Side Panel -->
            <app-details></app-details>
          </as-split-area>
        </as-split>
      </div>
    </div>
  </div>
</div>
